<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Recipe Website</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <button onclick="location.href='/'">Home</button></li>
          <button onclick="location.href='/recipe1'">Marry Me Chicken</button>
          <button onclick="location.href='/recipe2'">No-Bake Icebox Cake</button>
          <button onclick="location.href='/recipe3'">Easy One-Pot Pasta</button>
        </ul>
      </nav>
    </header>
  </body>
</html>
