<%- include('header') %>

<main>
  <h1>Welcome to the Recipe Website!</h1>
  <p>Here are my favorite recipes:</p>
  <ul>
    <img
      src="https://littlesunnykitchen.com/wp-content/uploads/Marry-Me-Chicken-1-2-1.jpg"
      width="300"
      height="250"
      alt="logo"
    />
    <li><a href="/recipe1">Marry Me Chicken</a></li>
    <img
      src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_765/k%2Farchive%2Faa086b1548df40724faf3f4d06845c73f5532cbd"
      width="300"
      height="250"
      alt="logo"
    />
    <li><a href="/recipe2">No-Bake Icebox Cake</a></li>
    <img
      src="https://frommybowl.com/wp-content/uploads/2020/01/One_Pot_Pasta_Vegetables_Vegan_FromMyBowl-6.jpg"
      width="300"
      height="250"
      alt="logo"
    />
    <li><a href="/recipe3">Easy One-Pot Pasta</a></li>
  </ul>
</main>

<%- include('footer') %>
